.container{
    margin-left: auto;
    margin-right: auto;
    background-color: khaki;
}
body {
    background-image:  url("images/6962bec67a34bfc116325f1f99cb035d.jpg");
    background-size: 100%;
    color: gold;
    margin: 10%;
}
h1{
    font-family: "Times New Roman";
    font-size: 72px;
    margin-left: 40%;
}
.parent{
    margin-left: 30%;
    height: 400px;
}
.inner{
    vertical-align: top;
    padding: 5px;
    background-color: gray;
    margin-right: 30%;
    height: 300px;
}
#snake_canvas, #content {
    background-color: white;
    float: left;
    left: auto;
    right: auto;
}
.text-block{
}